@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 0.5rem;
    background-color: hsl(250, 12%, 48%);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: hsl(250, 12%, 36%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(250, 8%, 65%);
  }

  .chat_content li {
    @apply mb-2;
  }

  .chat_content ul {
    @apply list-disc list-inside mb-4 pl-5;
  }

  .chat_content ol {
    @apply list-decimal list-inside mb-4 pl-5;
  }

  .chat_content a {
    @apply text-indigo-400 hover:underline;
  }

  .chat_content pre code {
    display: block;
    white-space: pre;
    @apply bg-transparent text-white p-0 m-0;
  }

  .chat_content blockquote {
    @apply border-l-4 border-gray-500 pl-4 italic mb-4;
  }

  .chat_content code {
    @apply bg-gray-800 text-green-400 px-2 py-1 rounded font-mono;
  }

  .chat_content pre {
    min-width: 42vw;
    max-width: 42vw;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre-wrap;
    @apply bg-gray-900 text-white px-6 my-4 rounded-lg shadow-lg relative overflow-x-auto;
  }

  .loader {
    width: 64px;
    aspect-ratio: 1;
    background: radial-gradient(
        farthest-side at bottom right,
        #f10c49 90%,
        #0000
      ),
      radial-gradient(farthest-side at bottom left, #f10c49 90%, #0000),
      radial-gradient(farthest-side at top right, #f10c49 90%, #0000),
      radial-gradient(farthest-side at top left, #f10c49 90%, #0000),
      radial-gradient(farthest-side at bottom right, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at bottom left, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at top right, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at top left, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at bottom right, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at bottom left, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at top right, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at top left, #e3aad6 90%, #0000);
    background-size: 25% 25%;
    background-repeat: no-repeat;
    animation: l16 2s infinite;
  }

  @keyframes l16 {
    0% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    16.67% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    33.33% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    50% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    66.67% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    83.33% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    100% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
  }
}
